<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <style>
    .site-footer .footer-col-wrapper {
      display: flex;
      gap: 3rem;
    }
    .site-footer .footer-col-1 {
      flex: 0 0 auto;
      width: auto;
    }
    .site-footer .footer-col-2 {
      flex: 1 1 auto;
      width: auto;
    }
    @media screen and (max-width: 600px) {
      .site-footer .footer-col-wrapper {
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  </style>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
        <ul class="social-media-list">
          {%- if site.github_username -%}
          <li><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ "/assets/minima-social-icons.svg#github" | relative_url }}"></use></svg> <span class="username">{{ site.github_username | escape }}</span></a></li>
          {%- endif -%}
          {%- if site.linkedin_username -%}
          <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ "/assets/minima-social-icons.svg#linkedin" | relative_url }}"></use></svg> <span class="username">{{ site.linkedin_username | escape }}</span></a></li>
          {%- endif -%}
          {%- if site.twitter_username -%}
          <li><a href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ "/assets/minima-social-icons.svg#twitter" | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username | escape }}</span></a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
